@font-face {
	font-family: "Inter Tight";
	font-weight: 400;
	src: local("Inter Tight"),
		url("../fonts/InterTight-Regular.ttf") format("ttf"),
		url("../fonts/InterTight-Regular.woff") format("woff");
}

@font-face {
	font-family: "Inter Tight";
	font-weight: 600;
	src: local("Inter Tight"),
		url("../fonts/InterTight-SemiBold.ttf") format("ttf"),
		url("../fonts/InterTight-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 700;
	src: local("Work Sans"), url("../fonts/WorkSans-Bold.ttf") format("ttf"),
		url("../fonts/WorkSans-Bold.woff") format("woff");
}
