@import "./base/fonts";
@import "./base/variables";
@import "./base/media";
@import "./modules/normalize.scss";

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	height: 100%;
}

@import "./blocks/description";
@import "./blocks/converter";
@import "./blocks/currency";
@import "./blocks/button";
